<h1> Giai PT bac 2</h1>
<form asp-action="PT2" method="Post">
    <label>nhap he so A:</label>
    <input type="text" name="a">
    <br>
    <label>nhap he so B:</label>
    <input type="text" name="b">
    <br>
    <label>nhap he so C:</label>
    <input type="text" name="c">
    <br>
    <input type="submit" value="giai phuong trinh">
</form>
<h2>@ViewBag.kq</h2>